*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    scroll-behavior:smooth;
    transition: 0.5s;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0,0.2);
    position: fixed;
    top: 0;
    min-width: 0;
    width: 100%;
    max-width: 100%;
    font-weight: 500;
    text-shadow: 0 0 3px rgba(255,255,255);
}

@media (max-width:480px){
    header{
        width: 100%;
        padding: 5px;
        margin: 0px;
    }
    html{
        width: 100%;
    }
    .story img{
    width: 60%;
    height: 45vh;
    }
}


@media(max-width:850px){
    .story img{
        width: 250px;
        height: 350px;
    }
     html{
        width: 100%;
    }
}

@media(min-width:980px){
    html{
        width: 100%;
    }
    .container{
        width: 100%;
    }
    .hero-content{
        min-height:80%;
    }
    .contacts{
        height: 10vh;
    }
    .story img{
        width: 20vw;
        height: 50vh;
    }
    button{
        width: 400px;
    }
    .circle{
        width: 5px;
    }
    .social-media-links{
        width: 50%;
    }
    .social-media-links input{
        width: 40%;
    }
    .CTA{
        width: 40%;
        height: 50px;
    }
    header{
        width: 100%;
    }

}

@media (max-width:1280px){
    html,body,header,.container{
        width: 100%;
    }
}

nav ul {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style:none;
    background-image: none;
}

nav ul li a {
    text-decoration: none;;
    color: white;
    transition: color 0.3s filter 0.3s;

}
header img {
    height: auto;
    max-width: 140px;
    transition: filter 0.3s,transform 0.3s,rotate 0.3s;
    cursor: pointer;
    
}

header img:hover {
    transform: scale(1.15);
    filter: drop-shadow(0 0 5px cyan);
    rotate: 360deg;
}

nav ul li a:hover {
    color: cyan;
    filter: drop-shadow(0 0 5px cyan);
}

.container{
    scroll-behavior: smooth;
    scroll-snap-type:y mandatory;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

.hero{
    color: white;
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('portfolio-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
}


h1 {
    font-size: 70px;
    text-shadow: 0 0 10px rgb(159, 30, 198);
}
p {
    font-size: 30px;
    margin-top: 30px;
    text-shadow: 0 0 5px rgb(105, 26, 21,)purple;
}
    
a{
    color: white;
    text-decoration: none;
}   

.CTA{
    filter: drop-shadow(0 0 3px purple);
    font-size: 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: 0.5s;
}

.CTA:hover{
    background-color: rgb(255, 255, 255);
    height: 50px;
    filter: drop-shadow(0 0 5px purple);
    color: black;
    a{
        color: black;
    }
}


button{
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    width: 75%;
    border-radius: 20px;
    border: 1px solid;
    background-color: rgba(0,0,0);
    border-color: rgb(128, 128, 128,0.2);
    cursor: pointer;
}


h2 {
    filter:drop-shadow(0 0 5px cyan);
    margin-left: 10px;
    margin-top: 60px;
}

.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding: 20px;
    margin-bottom: 30px;
    height: 80%;
    border-radius: 40px;
    transition: border 0.4s transform 0.4s;
    animation-name: fadeslideup;
    animation-delay: 0.5s;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    background-color: rgb(0, 0, 0,0.3);
    
}

.hero-content:hover{
    border-width: 1px;
    border-color: grey;

}

@keyframes fadeslideup {
    0%{
        opacity: 0;
        transform: translateY(60px);
    }
    50%{
        opacity: 0.5;
        transform:translateY(15px);
    }
    100%{
        opacity: 1;
        transform:translateY(0px);
    }
}


@keyframes bounce{
    0%,100%{
        transform: translateY (50px);
        background-color: blueviolet;
    }
    25%,75%{
        transform:translateY(100px);
        background-color: cyan;
    }
    35%,50%,95%{
        background-color: yellow;
    }
}

.circle{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin-left: 150px;
    animation-name: bounce;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    transition: 0.4s;
}

.circel:hover{
    animation-name: bounce;
    animation-play-state: paused;
}
.about{
    color: white;
    scroll-snap-align: start;
    padding: 10px;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content:center;
    align-items: center;
    background-color: #1e1c38;
    background-position: center;
}
.about.story h3,i,em{
    filter: drop-shadow(0 0 5px purple);
    animation-name: slidedown;
    animation-delay: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-duration: 5s;
}
.story img{
    border-radius: 50px;
    border:none;

}

.pic{
    margin-bottom: 10px;
    transition: filter 0.6s;
    animation-name: disco;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
}


@keyframes disco{
    0%,50%{
        filter: drop-shadow(0 0 5px purple);
    }
    15%,35%{
        filter:drop-shadow(0 0 5px yellow);
    }
    25%,100%{
        filter: drop-shadow(0 0 5px purple);
    }
    45%,65%{
        filter: drop-shadow(0 0 5px cyan);
    }
}

@keyframes slidedown{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    25%{
        opacity: 0.25;
        transform: translateY(-75px);
    }
    50%{
        opacity: 0.5;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
        rotate: 360deg;
    }
}

.story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
    /*background-color: rgb(0, 0, 0,0.2);*/
    border-radius: 20px;
    padding-block: 10px;
}


input{
    height: 50px;
    margin-top: 20px;
    min-width: 300px;
    border: none;
    border-radius: 30px;
    background-color: rgba(255,255,255,0.2);
   

}
input:active{
    color: white;
    padding-left: 20px;
}

input:hover{
    cursor: pointer;
    background-color: black;
    filter: drop-shadow(0 0 5px cyan);
}

input::placeholder{
    color: white;
    padding-left: 20px;
}


.projects{
    background-color: #1e1c38;
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    column-gap: 5px;

}

.cards-slot{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
    align-items: center;
    overflow-x: auto;
}

.card1,.card2,.card3,.card4,.card5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80%;
    min-width: 50%;
    border: 1px solid gray;
    background-color: grey;
    border-radius: 20px;
    transition: filter 0.6s transform 0.9s;
    animation-name: disco;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transition: 0.5s;
}

.card1:hover,.card2:hover,.card3:hover,.card4:hover,.card5:hover{
    transform: scale(1.2) translateX(10px);
}

.descriptions-slot{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    column-gap: 10px;
    align-items: center;
    overflow-x: auto;
}

.info6{
    height: 95%;
    min-width: 95%;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info6 h1{
    color: white;
    font-size: 40px;
}

.projects-info{
    min-height: 100vh;
    min-width: 100%;
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

.projects-info h6{
    font-size: 25px;
}

.project1{
    min-width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project2{
    min-width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project3{
    min-width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project4{
    min-width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project5{
    min-width: 100%;
    min-height: 100vh;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts{
    scroll-snap-align: start;
    min-height: 100vh;
    width: 100%;
    background-image: url('portfolio-bg.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.contact-me{
    color: white;
    margin-top: 70px;
    padding: 0;
    width: 97vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.thanks-note{
    text-wrap: inherit;
    justify-content: baseline;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.thanks-note p{
    text-wrap: inherit;
    font-size: 20px;
    filter: drop-shadow(0 0 5px purple);
}
.social-media-links{
    height: 300px;
    width: 90%;
    margin-top: 50px;
    background-color: rgb(0, 0, 0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

}

@keyframes icon-disco{
    0%,30%,60%,90%,100%{
        filter: drop-shadow(0 0 3px cyan);
    }
    10%,40%,70%{
        filter: drop-shadow(0 0 3px purple);
    }
    20%,50%,80%{
        filter: drop-shadow(0 0 3px yellow);
    }
}

.links{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:90% ;
    border-radius: 40px;
    margin-top: 20px;
}
.links img{
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 25px;
    transition:transform 0.8s;
    animation-name: icon-disco;
    animation-timing-function: ease-in-out;
    animation-duration: 7s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition:filter 0.9s;
}
.links img:hover{
    margin-bottom: 20px;

}

.social-media-links h6{
    font-family: arial;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.contact-me h6{
    margin-top: 50px;
    color: white;
}
.footer-info{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: rgb(0, 0, 0,0.5);
    width: 100%;
    justify-content: start;
    align-items: center;
    color: white;
}

.contacts h6{
    margin-left: 5px;
}

.closing-animation{
    width: 100%;
    margin-top: 50px;
    height: 70px;
    width: 90%;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 30px;
}

.closing-animation h6{
    width: 100%;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 15px;
}

